*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline:none;
    text-decoration: none
}

.center{
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}
body{
    background-color: #020a18;
    font-family: 'Open Sans', sans-serif

}

.header-link{
    color:#ffffff;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 39px;
    padding-right: 2.79232111%;
    
}
.nav{
    display: flex;
    justify-content: center;
    margin-bottom:160px;
}
.subtitle{
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px
    text-transform: uppercase; */
    margin-bottom: 10px;
}

.title{
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    margin-bottom:40px;
}
.discription{
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    margin-bottom: 50px;
    opacity: 0.699999988079071;
}
.top-content{
    display: flex;
    justify-content: space-between;
}
.left, .right{
   
}

.buttom-link{
    background-color: #3A68B8;
    border-radius: 5px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 15px 2.617801047%;
    margin-right: 1.745200698%;
    border: 3px solid transparent;
}
.buttom-link:hover{
    color:#3A68B8 ;
    background-color: #fff;
    border:3px solid #3A68B8;
}

.buttom-link_1{
    background-color: #3A68B8;
    border-radius: 5px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 15px 2.617801047%;
    margin-right: 1.745200698%;
    border: 3px solid transparent;
}
.buttom-link_1:hover{
    color:#3A68B8 ;
    background-color: #fff;
    border:3px solid #3A68B8;
}
.top-content{
    margin-bottom: 17.19022688%;
}
.flex{
    display: flex;
    justify-content: space-between;
    
}
.top-logo{
    margin-bottom: 99px;

}
.middle-title{
    /* width: 484px; */
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
}
.middle-container{
    display: flex;
    justify-content: center;
    /* width: 1146px; */
    margin: 0 auto;
    
}

.middle-container{
    margin-top: 157px;
    margin-bottom: 264px;
}
.middle-discription{
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.699999988079071;
}
.middle-title{
    margin-top: 117px;
    margin-bottom: 30px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
}
.middle-discription{
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.699999988079071;
    margin-bottom: 50px;
}
.middle-buttom-link{
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 3px solid transparent;
    padding: 15px 2.617801047%;
 
    border: 3px solid transparent;
    margin-bottom: 117px;
}
.middle-buttom-link:hover{
    color:#3A68B8 ;
    background-color: #fff;
    border:3px solid #3A68B8;
   
}

.middle-left{
    margin-right: 5.933682373%;
}
.item_img{
    margin-bottom:2.617801047%;
}
.item{
    border-radius: 10px;
    background: #132035;
    padding: 30px 2.617801047% 30px 2.617801047%;
    display: grid;
    justify-items: center;
    gap: 2.61%; 
}
   
.item-big{
    border-radius: 10px;
    background: #132035;
    padding-right: 2.617801047%;
    padding-left: 2.617801047%;
    padding-top: 30px;
    grid-column: span 2;
    grid-row: span 2;
    display: grid;
    justify-items: center;
    gap: 5.23%;
}
.item_text{
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.699999988079071;
    text-align: center;
    margin-bottom:2.617801047%;
}
.heading{
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 31.25px */
    opacity: 0.699999988079071;
    font-size: 25px;
    text-align: center;
    color: var(--ffffff, #FFF);
    margin-bottom:2.617801047%;
}
.content{
    display: grid;
    gap: 2.61%;
    grid-template-columns: repeat(3,31%);
    justify-content: center;
    margin-bottom: 242px;
}
.title_content_cletnts{
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
    margin-bottom: 40px;
    width: 85%;
}
.description_content_clients{
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.699999988079071;
    padding-bottom: 20px;
    padding-right: 9.860383944%;
}
.content_clients{
    margin: 0 auto;
    display: flex;
    margin-bottom: 221px;
    /* width: 1146px;
    margin: 0 auto;
    height: 492px; */
   
}
.left_content_clients{
    /* margin-right: 2.181500873% */

}
.container_contact{
    margin: 0 auto;
    display: flex;
    /* width: 1146px; */
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 47px;
}


.subtitle_container_contact{
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 48px;
    margin-bottom: 33px;

}
.infor_img{
    padding-right: 0.785340314%;
}
.information_mail{
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 22.77486911%;
}
.information_tel{
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 22.77486911%;
}
.information_adress{
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5.49px;
}
.information_text{
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


    width: 261px;
    
}
.info_m{
    margin-bottom: 24px;
}
.the_store_text{
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    opacity: 0.6000000238418579;
}
.about_the_store{
    width: 31.5008726%;
    margin-bottom: 34px;
}
.link_web{
    margin-bottom: 24px;
}
.link_web1{
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
footer{
    border-radius: 10px;
    background-color: #020b1a;
}


@media (min-width: 768px) and (max-width: 1024px) {
.center{
    padding-left: calc(50% - 376px);
    padding-right: calc(50% - 376px);
    }

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width:70%;
    margin-left: 11.02083333%;
    }
.logo-1{
    width:42%;
    padding-top: 32.05px;

}
.top-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* gap: 16.66666667%; */
}
.title{
    font-size: 48px;
}
.left{
    width:75%;
}
.right{
   margin-top: 16.66666667%;
}
.middle-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    }
.middle-left{
    width: 77.34375%;
    display: flex;
    align-items: center;
}
.middle-right{
    width: 63.02083333%;
}
.item-big{
    grid-column: span 1;
    grid-row: span 1;
    gap:30px;
}
.item_img_big{
    width:25%;
}
.content{
    grid-template-columns: repeat(1,47.13541667%);
    gap:2.792321117%;
    margin-bottom: 0;
}
.item{
    gap:3.90625%;
}
.content_clients{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}
.content_clients{
    margin-top: 52.08333333%;
}
.left_content_clients{
margin-left:14.32291667%;
}
.information{ grid-area: a; }
.about_the_store2{ grid-area: b; }
.about_the_store{ grid-area: c; }
  
.container_contact{
    margin-left: 5.716145833%;
    display: grid;
    grid-template-areas: "a a a a a c c c c c c"
                         "a a a a a c c c c c c"
                         "a a a a a c c c c c c"
                         "b b b b b b b b b b b"
                         "b b b b b b b b b b b"
                         "b b b b b b b b b b b";
}
.about_the_store{
    margin-left: 100px;
    width: 60.046875%;
}
.logo-2{
    padding-top: 32.05px;
}
}
/* .................................... */


@media (min-width: 1px) and (max-width: 767px) {
.center{
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);
}

.nav{
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
    font-size: 14px;
    margin-right: 45px;
}
.subtitle{
    font-size: 14px;
    text-align: center;
}
.title{
    font-size: 28px;
    text-align: center;
}
.discription{
    text-align: center;
}
.buttom-link_1{
   display: flex;
    margin-left: 86px;
    margin-right: 86px; 
    margin-bottom: 24px;
    padding-left: 30px;
    padding-right: 30px;
}
.buttom-link{
    display: flex;
     margin-left: 63px;
     margin-right: 63px;
     padding-left: 30px;
     padding-right: 30px;

}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 5px;
    margin-left: 11.02083333%;
    }
.logo-1{
    padding-top: 32.05px;

}
.top-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* gap: 16.66666667%; */
}

.left{
    width:99%;
}
.loft{
    width: 99%;
}
.middle-left-pict{
    width: 100%;
    margin-left: 10;

}
.right_content_clients_pict{
    width: 90%;
}
.right{
   margin-top: 16.66666667%;
}
.middle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
}

.middle-title{
    font-size: 24px;
    text-align: center;
}
.middle-discription{
    text-align: center;
}
.middle-buttom-link{
    margin-left: 122px;

}
.item-big{
    grid-column: span 1;
    grid-row: span 1;
    gap:30px;
}
.item_img_big{
    width:25%;
}
.content{
    grid-template-columns: repeat(1, 99.8%);
    gap:32px;
    margin-bottom: 96px;
}
.item{
    gap:3.90625%;
}

.content_clients{

    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-bottom:209px;
}

.title_content_cletnts{
    font-size: 24px;
    text-align: center;
    align-items: center;
    width: 96%;
}
.information{ grid-area: a; }
.about_the_store2{ grid-area: b; }
.about_the_store{ grid-area: c; }
.container_contact{
    margin-left: 5.716145833%;
    display: grid;
    grid-template-areas: " c c c "
                         " a a a "
                         " b b b ";
}
.about_the_store{
    width: 100%;
    padding-right: 96px;
}
.logo-2{
    padding-top: 32.05px;
}
.middle-container {
    margin-bottom: 96px;
}
.description_content_clients{
    text-align: center;
    padding-right: 0;
}
.right_content_clients_pict{
    margin-left: 20px;
}
.about_the_store{
    margin-left: 0;
    
}
.about_the_store2{
   text-align: center;
}
}